<!doctype html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="home_style.css">-->
    <link th:href="@{/css/home_style.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <title>Read Book Project</title>
    <script src="https://kit.fontawesome.com/46fe72684f.js" crossorigin="anonymous"></script>
    <!--<script src="home_js.js" defer></script>-->
    <!--<script type="text/javascript" th:src="@{js/home_js.js}"></script>-->

    <!--각각의 content에서만 적용되는 css,js가 이 부분에서 적용-->
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<body>
<div>
    <th:block th:replace="fragments/nav :: navFragment"></th:block>
</div>

<div>
    <th:block th:replace="fragments/floating :: floatingFragment"></th:block>
</div>


</body>
</html>

<script>
    const toggleBtn=document.querySelector('.navbar__toggleBtn');
    const menu=document.querySelector('.navbar__menu');
    const icons=document.querySelector('.navbar__icons');

    toggleBtn.addEventListener('click',()=>{
        menu.classList.toggle('active');
    icons.classList.toggle('active');
    });
</script>