<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <meta charset="UTF-8">
  <title>회원 가입</title>
</head>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <main>
    <div class="py-5 text-center">
      <h2>Book List</h2>
    </div>

    <div class="album py-5 bg-body-tertiary">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col" th:each="book : ${books}">
            <div class="card shadow-sm">

              <img  width="100%" height="225" th:src="${book.imgPath}"/>
              <!--<img  width="100%" th:src="@{/img/6ed21880-cbc7-4322-9c2d-9f52ddf78934_KakaoTalk_20220809_235737607.jpg}" alt="첨부이미지" th:if="${book.imgPath !=null}"/>-->
              <div class="card-body">
                <p class="card-text" th:text="${book.title}"></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a th:href="@{/books/{id}/delete (id=${book.id})}" class="btn btn-sm btn-outline-secondary" role="button">삭제</a>
                    <a th:href="@{/books/{id}/edit (id=${book.id})}" class="btn btn-sm btn-outline-secondary" role="button">수정</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
</html>