<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <meta charset="UTF-8">
  <title>회원 가입</title>
</head>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <main>
    <div class="py-5 text-center">
      <h2>책 등록 페이지</h2>
    </div>


    <div class="col-md-7 col-lg-8">
      <form class="needs-validation" action="/books/new" th:object="${bookForm}" method="post" enctype="multipart/form-data">
        <div class="row g-3">

          <div class="col-12">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" th:field="*{title}" id="title" placeholder="책 제목을 입력하세요" required="">
            <div class="invalid-feedback">
              Please enter your Book Title
            </div>
          </div>

          <div class="col-12">
            <label for="author" class="form-label">저자</label>
            <input type="text" class="form-control" th:field="*{author}" id="author" placeholder="저자를 입력하세요" required="">
            <div class="invalid-feedback">
              Please enter author.
            </div>
          </div>


          <!--<div class="col-12">
            <label for="grade" class="form-label">Select Grade</label>
            <select th:field="*{grade}" class="form-select" id="grade" required>
              <option value="BEST">Best</option>
              <option value="BETTER">Better</option>
              <option value="GOOD">Good</option>
              <option value="NORMAL">Normal</option>
              <option value="BAD">Bad</option>
            </select>
            <div class="invalid-feedback">Please select</div>
          </div>-->

          <div class="col-12">
            <label class="form-label">책 카테고리</label>
            <select class="form-control" th:field="*{category}">
              <option th:each="categoryValue : ${T(com.bookreport.core.domain.BookCategory).values()}"
                      th:value="${categoryValue.name()}"
                      th:text="${categoryValue.name()}">
                val
              </option>
            </select>
          </div>

          <div class="col-12">
          <label for="isbn" class="form-label">ISBN 코드</label>
          <input type="text" class="form-control" th:field="*{isbn}" id="isbn" placeholder="isbn을 입력하세요" required="">
          <div class="invalid-feedback">
            Please enter ISBN.
          </div>
          </div>

          <div class="col-12">
          <label for="price" class="form-label">가격</label>
          <input type="text" class="form-control" th:field="*{price}" id="price" placeholder="가격을 입력하세요" required="">
          <div class="invalid-feedback">
            Please enter Price.
          </div>
          </div>

          <div class="col-12">
            <label for="stockQuantity" class="form-label">수량</label>
            <input type="text" class="form-control" th:field="*{stockQuantity}" id="stockQuantity" placeholder="수량을 입력하세요" required="">
            <div class="invalid-feedback">
              Please enter stock.
            </div>
          </div>

          <div class="col-12">
          <label for="publishDate" class="form-label">출판일</label>
          <input type="date" class="form-control" th:field="*{publishDate}" id="publishDate" placeholder="출판일을 선택하세요" required="">
          <div class="invalid-feedback">
            Please enter Publish Date.
          </div>
          </div>

          <!--<div class="col-12">
            <label for="category" class="form-label">Select Category</label>
            <select th:field="*{category}" class="form-select" id="category" required>
              <option value="COMIC">COMIC</option>
              <option value="HISTORY">HISTORY</option>
              <option value="DOCUMENTARY">DOCUMENTARY</option>
            </select>
            <div class="invalid-feedback">Please select Category</div>
          </div>-->

          <div class="col-12">
            <label class="form-label">책 평점</label>
            <select class="form-control" th:field="*{grade}">
              <option th:each="gradeValue : ${T(com.bookreport.core.domain.Grade).values()}"
                      th:value="${gradeValue.name()}"
                      th:text="${gradeValue.name()}">
                val
              </option>
            </select>
          </div>

          <div class="col-12">
            <label for="imgFile" class="form-label">Upload Book Image</label>
            <input type="file" th:field="*{imgFile}" class="form-select" id="imgFile" required/>
          </div>

        </div>


        <hr class="my-4">

        <button class="w-100 btn btn-primary btn-lg" type="submit">등록하기</button>
      </form>
    </div>
  </main>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
</html>