<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navFragment">
    <nav class="navbar">
        <div class="navbar__logo">
            <!-- 아이콘 하나 글자-->
            <i class="fa-duotone fa-book"></i>
            <a href="">Book Report Project</a>
        </div>

        <ul class="navbar__menu">
            <li>
                <a href="">Home</a>
                <!--<ul class="sub_menu">
                    <li><a href="#">sub1</a></li>
                    <li><a href="#">sub2</a></li>
                </ul>-->
            </li>
            <li><a href="">User</a></li>
            <li><a href="">Book</a></li>
            <li><a href="">Book Report</a></li>
            <li><a href="">Order</a></li>
        </ul>

        <ul class="navbar__icons">
            <li><i class="fa-brands fa-twitter"></i></li>
            <li><i class="fa-brands fa-facebook-f"></i></li>
        </ul>

        <a href="#" class="navbar__toggleBtn">
            <i class="fa-sharp fa-solid fa-bars"></i>
        </a>
    </nav>
</div>
</html>